@import "../core/display.less";

form {
  label {
    display: block;
    .margin-bottom;

    > span {
      .block;
      .margin-bottom-small;
    }

    &.checkbox {
      display: flex;
    }
  }
}

input,
textarea,
select {
  width: 100%;
  .border;
  .rounded;
  line-height: calc(2rem - @borderSize * 2);
  font-family: @fontFamily;
  font-size: 1rem;
  .focus;

  &:focus {
    outline: none;
  }

  &.large {
    line-height: 4rem;
    font-size: @fontLarge;
  }
}

input,
select {
  .padded;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    .width;
    .height;
    margin: 0;
    padding: 0;
    border: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      .middle;
      width: (@size * 0.8);
      height: (@size * 0.8);
      .border;
    }

    &:checked::after {
      content: "";
      display: block;
      position: absolute;
      .middle;
      width: (@size * 0.4);
      height: (@size * 0.4);
      .black-bg;
    }

    &.large {
      .width-large;
      .height-large;

      &::before {
        width: (@sizeLarge * 0.8);
        height: (@sizeLarge * 0.8);
      }
    }

    + span {
      display: inline-block;
      vertical-align: top;
      margin-left: @gap;
      line-height: @size;
    }
  }

  &[type="radio"] {
    &::before {
      .round;
    }

    &:checked::after {
      .round;
    }
  }
}

select {
  height: calc(@size + 2px);
}

textarea {
  .padding;
  line-height: 1.1;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  legend {
    display: block;
    .margin-bottom;
    padding: 0;
  }
}
