@import "../core/display.less";

// ** The size of the label; site font size plus the margin underneath.
@labelSize: 1rem + 1rem * 0.2;
// ** The size of the Input field; twice the site font size.
@inputSize: 2 * 1rem;
// ** We devrive this value from the height of two input fields.
// ** i.e 2 input element heights, 1 label height and 1 margin underneath an input field.
@textAreaHeight: (@inputSize * 2) + @labelSize + @gap;

form {
  label {
    display: block;
    .margin-bottom-small;

    > span {
      .block;
      margin-bottom: 1rem * 0.2;
      line-height: 1;
    }

    &.large {
      > span {
        line-height: @sizeLarge;
        font-size: @fontLarge;
      }
    }

    &.checkbox {
      display: flex;
    }

    &.required {
      > span {
        &::after {
          content: "*";
          .tomato-text;
        }
      }
    }
  }
}

input,
textarea,
select {
  width: 100%;
  .border;
  .rounded;
  line-height: calc(2 * 1rem - @borderSize * 2);
  font-family: @fontFamily;
  font-size: 1rem;
  .focus;

  &:focus {
    outline: none;
  }

  &.large {
    line-height: 4 * 1rem;
    font-size: @fontLarge;
  }
}

input,
select {
  .padded-small;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    .width;
    .height;
    margin: 0;
    padding: 0;
    border: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      .middle;
      width: @size;
      height: @size;
      .border;
    }

    &:checked::after {
      content: "";
      display: block;
      position: absolute;
      .middle;
      width: (@size * 0.4);
      height: (@size * 0.4);
      .black-bg;
    }

    &.large {
      .width-large;
      .height-large;

      &::before {
        width: (@sizeLarge * 0.8);
        height: (@sizeLarge * 0.8);
      }

      &::after {
        width: (@size * 0.8);
        height: (@size * 0.8);
      }

      + span {
        line-height: @sizeLarge;
        font-size: @fontLarge;
      }
    }

    + span {
      display: inline-block;
      vertical-align: top;
      margin-left: @gap;
      line-height: @size;
    }
  }

  &[type="radio"] {
    .round;

    &::before {
      .round;
    }

    &:checked::after {
      .round;
    }
  }
}

select {
  height: calc(@size + 2px);
}

textarea {
  height: @textAreaHeight;
  .padding-small;
  line-height: 1.1;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &.linear {
    .flex;

    legend {
      width: 100%;
    }
  }

  legend {
    display: block;
    .margin-bottom-small;
    padding: 0;
  }
}
