@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotation(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: @time fade-in linear forwards;
}

.fade-out {
  animation: @time fade-out linear forwards;
}

.spin {
  animation: 1s spin linear infinite;
}
