.blueberry-bg {
  background-color: @blueberry;
}
.blueberry-dark-bg {
  background-color: @blueberryDark;
}

.apple-bg {
  background-color: @apple;
}
.apple-dark-bg {
  background-color: @appleDark;
}

.lemon-bg {
  background-color: @lemon;
}
.lemon-dark-bg {
  background-color: @lemonDark;
}

.orange-bg {
  background-color: @orange;
}
.orange-dark-bg {
  background-color: @orangeDark;
}

.tomato-bg {
  background-color: @tomato;
}
.tomato-dark-bg {
  background-color: @tomatoDark;
}

.smoke-bg {
  background-color: @smoke;
}
.smoke-light-bg {
  background-color: @smokeLight;
}
.smoke-dark-bg {
  background-color: @smokeDark;
}

.snow-bg {
  background-color: @snow;
}
.snow-dark-bg {
  background-color: @snowDark;
}

.black-bg {
  background-color: @black;
}
.black-dark-bg {
  background-color: @blackDark;
}
