.border {
  border: @borderSize solid @black;
}

.border-top {
  border-top: @borderSize solid @black;
}

.border-right {
  border-right: @borderSize solid @black;
}

.border-bottom {
  border-bottom: @borderSize solid @black;
}

.border-left {
  border-left: @borderSize solid @black;
}

.blueberry-border {
  border: @borderSize solid @blueberry;
}
.blueberry-dark-border {
  border: @borderSize solid @blueberryDark;
}

.apple-border {
  border: @borderSize solid @apple;
}
.apple-dark-border {
  border: @borderSize solid @appleDark;
}

.lemon-border {
  border: @borderSize solid @lemon;
}
.lemon-dark-border {
  border: @borderSize solid @lemonDark;
}

.orange-border {
  border: @borderSize solid @orange;
}
.orange-dark-border {
  border: @borderSize solid @orangeDark;
}

.tomato-border {
  border: @borderSize solid @tomato;
}
.tomato-dark-border {
  border: @borderSize solid @tomatoDark;
}

.smoke-border {
  border: @borderSize solid @smoke;
}
.smoke-light-border {
  border: @borderSize solid @smokeLight;
}
.smoke-dark-border {
  border: @borderSize solid @smokeDark;
}

.snow-border {
  border: @borderSize solid @snow;
}
.snow-dark-border {
  border: @borderSize solid @snowDark;
}

.black-border {
  border: @borderSize solid @black;
}
.black-dark-border {
  border: @borderSize solid @blackDark;
}

.border-none {
  border: none;
}
