.flex {
  display: flex;
  flex-wrap: wrap;

  &.space-between {
    justify-content: space-between;
  }

  &.flex-end {
    justify-content: end;
  }

  &.align-centre {
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }
}

.flex-grow {
  flex-grow: 1;
}
