.padded {
  padding: 0 @rem;
}

.padded-small {
  padding: 0 @gap;
}

.padded-medium {
  padding: 0 @size;
}

.padded-large {
  padding: 0 @sizeLarge;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.padding {
  padding: @rem;
}

.padding-bowl {
  padding: 0 @rem @rem;
}

.padding-top {
  padding-top: @rem;
}

.padding-right {
  padding-right: @rem;
}

.padding-bottom {
  padding-bottom: @rem;
}

.padding-left {
  padding-left: @rem;
}

.padding-large {
  padding: @sizeLarge;
}

.padding-bowl--large {
  padding: 0 @sizeLarge @sizeLarge;
}

.padding-top-large {
  padding-top: @sizeLarge;
}

.padding-right-large {
  padding-right: @sizeLarge;
}

.padding-bottom-large {
  padding-bottom: @sizeLarge;
}

.padding-left-large {
  padding-left: @sizeLarge;
}

.padding-medium {
  padding: @size;
}

.padding-top-medium {
  padding-top: @size;
}

.padding-right-medium {
  padding-right: @size;
}

.padding-bottom-medium {
  padding-bottom: @size;
}

.padding-left-medium {
  padding-left: @size;
}

.padding-small {
  padding: (@rem / 2);
}

.padding-top-small {
  padding-top: (@rem / 2);
}

.padding-right-small {
  padding-right: (@rem / 2);
}

.padding-bottom-small {
  padding-bottom: (@rem / 2);
}

.padding-left-small {
  padding-left: (@rem / 2);
}
