.reset-padding {
  padding: 0;
}

.padded {
  padding: 0 @sizeSmall;
}

.padded-small {
  padding: 0 @gap;
}

.padded-medium {
  padding: 0 @size;
}

.padded-large {
  padding: 0 @sizeLarge;
}

.padding {
  padding: @sizeSmall;
}

.padding-bowl {
  padding: 0 @sizeSmall @sizeSmall;
}

.padding-top {
  padding-top: @sizeSmall;
}

.padding-right {
  padding-right: @sizeSmall;
}

.padding-bottom {
  padding-bottom: @sizeSmall;
}

.padding-left {
  padding-left: @sizeSmall;
}

.padding-large {
  padding: @sizeLarge;
}

.padding-bowl-large {
  padding: 0 @sizeLarge @sizeLarge;
}

.padding-top-large {
  padding-top: @sizeLarge;
}

.padding-right-large {
  padding-right: @sizeLarge;
}

.padding-bottom-large {
  padding-bottom: @sizeLarge;
}

.padding-left-large {
  padding-left: @sizeLarge;
}

.padding-medium {
  padding: @size;
}

.padding-top-medium {
  padding-top: @size;
}

.padding-right-medium {
  padding-right: @size;
}

.padding-bottom-medium {
  padding-bottom: @size;
}

.padding-left-medium {
  padding-left: @size;
}

.padding-small {
  padding: @gap;
}

.padding-top-small {
  padding-top: @gap;
}

.padding-right-small {
  padding-right: @gap;
}

.padding-bottom-small {
  padding-bottom: @gap;
}

.padding-left-small {
  padding-left: @gap;
}

.no-padding {
  padding: 0;
}
